
<div class="author">
    <h1 class="author__heading">Hi, I am Mike!</h1>
    <p class="author__body">Web developer and big man!</p>
</div>

<img src="/img/index-image.webp" alt="my beautiful image" class="index_image" width="600" height="324">

<section class="article">
    <h2 class="article__heading" Latest posts> </h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span> Post Title</span>
                <span class="article-list__date">Date</span>
            </a>

        </li>
        <li>
            <a href="#">
                <span> Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

<a herf="#" class="pagination"&lt; View order posts> </a>

</section>