
<div class="author">
    <h1 class="author__heading">Hi, I am Mike!</h1>
    <p class="author__body">Web developer and big man!</p>
</div>

<img src="/img/index-image.webp" alt="my beautiful image" class="index_image" width="600" height="324">

<section class="article">
    <h2 class="article__heading">Latest Posts</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id%>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>

        <% }) %>
    </ul>

    <!-- display previous page button -->
    <% if (nextPage !=null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
    <% } %>
     


</section>